@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body
{
  background-color: #1A1A1A;
}

#home_con1 /* countdown */
{
  background-color: #440303;
  color: white;
  text-align: center;
  h1{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 180%;
  }
  h2{
    font-size: 200%;
    font-family: "Caveat", serif;
  }
}

#home_con2 /* news */
{
  h2{
    text-shadow:none
  }
  background-color: #034208;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-shadow: 5px 5px 10px black;
  
}


#home_con3 /* Profiles */
{
  background-color: #1A1A1A;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

button.btn
{
  background-color: #750710;
  color: white;
  margin-top: 4%;
  border: 2px solid #750710;
}

button.btn:hover
{
  background-color: #FFB426;
  border: 2px solid #945D2D;
  color: white;

}

button.btn:focus
{
  background-color: #FFB426;
  border: 2px solid #945D2D;
  color: white;
}

div.card.card-body
{
  background-color: #1A1A1A;
}


#home_con4 /* Profiles */
{
  h3{
    font-family: "Caveat", serif;
  }
  background-color: #034208;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

